{{ define "main" }}
<div class="container text-center mt-5">
  <h1 class="display-1">404</h1>
  <p class="lead">
    Looks like this page took a trip to the recycling center...
  </p>
  <div
    class="d-flex flex-row bd-highlight justify-content-center align-items-center"
  >
    <p class="mb-3 pe-3">
      Don't worry, it's probably not hiding under a pile of dusty VHS tapes...
    </p>
    <p style="font-size: 40px">&#128533;</p>
  </div>
  <a href="/" class="btn btn-primary mt-3"
    >Back to the land of (hopefully) found, not lost, pages</a
  >
</div>

{{ end }}
