<style>
    input {
        
        padding: 5px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
    th, td{
    padding: 1em;
    }
    tfoot{
    padding: top 10px;
    }
    .customerData{
    border: 2px solid;
    padding: 5px;
    }
</style>
<h1>Calculator</h1>
<h6>
  Calculator is for rough estimates only. The more correct the information the
  better the estimate.
</h6>
<br>
<h3>idea: curb side vs. clean out, same day vs. scheduled</h3>
<br />
<form action="" id="customer-data">
  <div class="customerData">
    <label>* Email: <input type="email" name="email" id="email" required /></label>
 
      <label>Phone: <input type="phone" name="phone" id="phone"/></label>
      <div>
      <label>* Location zip: <input type="number" name="zip" id="zip" min="0" required/></label><div>
      </div>
        <label>
          Pickup Date: <input type="datetime-local" id="pickup-date"/></label>
      </div>
    </div>
    <br>
  <div>
</form>
<form id="form-items">
  
    <label
      >* Short description:
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Short description"
        required
    /></label>
  </div>
  <div>
    <label
      >Dimensions Estimate: h (in) - <input type="number" id="height" name="height" style="width: 75px;" min="0" /> w
      (in) - <input type="number" id="width" name="width" style="width: 75px;" min="0" /> l (in) -
      <input type="number" id="long" name="long" style="width: 75px;" min="0" />
    </label>
</div>
    <label>
      <div>* Weight Estimate (lbs):<input type="number" id="weight" name="weight" min="0" required />
    </label>
  </div>

  
  <input type="submit" name="add" id="add" value="Add" />
  <input type="reset" id="rst" value="Reset Form" />
  <p style="font-size: small;">* required fields</p>
</form>
<table id="results">
    <thead>
    <tr>
        <th>Description</th>
        <th>Dimensions</th>
        <th>Weight</th>
    </tr>
</thead>
<tbody id="tableData">

</tbody>
</table>
<br>
<div id="customerInfo">

  <input type="submit" name="get_quote" value="Sent for Quote">
</div>
<script>
    const form = document.getElementById('form-items');
    const customerInfoForm = document.getElementById('customer-data');
    const description = document.getElementById('description');
    const height = document.getElementById('height');
    const width = document.getElementById('width');
    const long = document.getElementById('long');
    const weight = document.getElementById('weight');
    const pickupDate = document.getElementById('pickup-date');
    const email = document.getElementById('email');
    const phone = document.getElementById('phone');

    var dataArray = [{
      'description': description, 'height': height, 'width':width, 'long':long,'weight':weight
    }]
    var customerArray = [{'email':email, 'phone':phone}]
    
    function buildTable(data){
      var table = document.getElementById('tableData');

      for (var i = 0; i < data.length; i++){
        var row = `<tr>
          <td>${data[i].description.value}</td>
          <td>H: ${data[i].height.value} <br>W: ${data[i].width.value} <br>L: ${data[i].long.value}</td>
          <td>Weight: ${data[i].weight.value} lbs</td>
        </tr>`

        table.innerHTML += row
      }
    }

    function sendQuote(customerArray){
      for (var i = 0; i < data.length; i++){
        if (data[i].phone == true){
          var row = `<tr>
            <td>${data[i].email.value}</td>
            <td>${data[i].phone.value} </td>
            <td>${data[i].date.value} lbs</td>
            <td> ${data[i].location.value} lbs</td>
          </tr>`
        }else{
        var row = `<tr>
            <td>${data[i].email.value}</td>
            <td>${data[i].phone.value} </td>
            <td>${data[i].date.value} lbs</td>
            <td> ${data[i].location.value} lbs</td>
          </tr>`

        table.innerHTML += row
      }
    }
    form.addEventListener('submit', function(e){
      e.preventDefault();
      buildTable(dataArray)

    });
    customerInfoForm.addEventListener('click', function(e){
      e.preventDefault();
      sendQuote();

    });
</script>
